<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
    <title>Blog Post List</title>
</head>
<body>

	<%- include('header') %>
    <%- include('navBar') %>
	
	<main>
		<h2 style="text-align: center">All Blog Posts</h2>
		<% if (blogPosts.length > 0) { %>
			<% blogPosts.forEach(function(post) { %>
				<div class="blog-container">
					<% if (post.image) { %>
						<img src="<%- post.image %>" alt="Blog Image">
					<% } %>
					<div class="blog-content">
						<h3><%- post.title %></h3>
						<p><%- post.content %></p>
						<div class="blog-meta">
							<% if (post.tags) { %>
								<p><%- post.tags.join(', ') %></p>
							<% } %>
							<p>Posted on: <%- post.date %></p>
							<p>Posted by: <%- post.author.username %></p>
						</div>
					</div>
				</div>
				<hr>
			<% }) %>
		<% } else { %>
			<p>No blog posts available.</p>
		<% } %>
		<%- include('footer') %>
	</main>
</body>
</html>