<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
    <title>Edit Blog Post</title>
</head>
<body>

	<%- include('header') %>
    <%- include('navBar') %>
	
    <h2 style="text-align: center">Edit Blog Post</h1>
	
	<main>
		<div class="editBlog-container">
			<form action="/editPost" method="post" enctype="multipart/form-data">
				<input type="hidden" name="postId" value="<%- post._id %>">
				<label for="title">Title:</label>
				<input type="text" name="title" id="title" value="<%- post.title %>" required>
				<br>
				<label for="content">Content:</label>
				<textarea name="content" id="content" required><%- post.content %></textarea>
				<br>
				<label for="tags">Tags:</label>
				<input type="text" name="tags" id="tags" value="<%- post.tags.join(', ') %>">
				<br>
				<label for="image">Image:</label>
				<input type="file" name="image" id="image">
				<br>
				<button type="submit">Update Post</button>
			</form>
		</div>
	</main>
</body>
</html>